.container {
  margin: 0;
  padding: 0;
}

.tab-all {
  width: 100vw;
}

.nav-link {
  color: gray;
}

.area-all {
  width: 100vw;
}

.area {
  background-color: #eeeeee;
  margin: 30px;
  padding: 20px;
}

.area p {
  padding-bottom: 10px;
  border-bottom: 1px solid gray;
}

@media (min-width: 1030px) {
  .area {
    margin: 30px 300px;
  }
}

@media (max-width: 500px) {
  .tabs,
  .area p,
  .tour-list {
    font-size: 12px;
  }
}

@media (max-width: 400px) {
  .tabs,
  .area p,
  .tour-list {
    font-size: 9px;
  }
}