.search-results-area {
  width: 100vw;
}

.search-results {
  margin: 30px 20px;
  padding: 20px;
}

.search-results p {
  padding-bottom: 10px;
  border-bottom: 1px solid gray;
}

.tour-list {
  margin-bottom: 20px;
}

.btn-light {
  font-size: 10px;
  margin: 0 0 50px 20px;
}

@media (min-width: 1030px) {
  .search-results {
    margin: 30px 250px;
  }
}