.admin-btn {
  margin-right: 30px;
}

.btn-original {
  font-size: 10px;
  width: 80px;
  margin-left: 10px;
  background-color: #eeeeee;
}

.tour-image {
  width: 100vw;
}

.tour-name {
  margin: 20px;
  font-size: 30px;
}

.tour-price-area {
  display: flex;
  margin: 20px;
  font-size: 20px;
}

.tour-price {
  margin-right: 20px;
}

.price-range {
  color: red;
  font-weight: bold;
}

.overview-area {
  display: flex;
  padding: 30px;
}

.overview-area-right {
  width: 40%;
}

.overview-area-right .btn {
  margin: 30px 0 0;
  width: 100%;
  height: 50px;
  font-size: 12px;
}

.table {
  text-align: center;
}

.table-top {
  width: 50vw;
  margin: 20px;
  font-size: 16px;
}

.airplane-grade,
.hotel-grade {
  width: 100vw;
}

.airplane-grade p {
  font-size: 15px;;
  font-weight: bold;
  margin: 30px;
}

.table-airplane,
.table-hotel {
  font-size: 15px;
  margin: 30px;
}

.table-hotel {
  margin-bottom: 80px;
}

.table-airplane th,
.table-hotel th {
  background-color: #eeeeee;
  width: 50%;
}

.table-top td,
.table-airplane td,
.table-hotel td {
  text-align: left;
}

.tab-recommend,
.tab-schedule,
.tab-information {
  width: 100vw;
}

.recommend-area,
.schedule-area {
  padding: 30px;
  margin: 30px 30px 80px;
  font-size: 13px;
}

.information-area {
  padding: 30px;
  margin: 30px 30px 80px;
}

.information h2 {
  font-size: 15px;
}

.information .table {
  font-size: 13px;
}

.information p,
.information a {
  font-size: 10px;
}

.table-cancel {
  width: 50vw;
  margin: 20px;
  font-size: 17px;
}

.table-cancel th {
  width: 60%;
}

@media (min-width: 1030px) {
  .admin-btn {
    margin-right: 200px;
  }
  
  .tour-image {
    width: 70vw;
    margin-left: 15vw;
  }
  
  .tour-name {
    margin-left: 200px;
  }
  
  .overview-area-right .btn {
    margin-left: 30px;
  }
  
  .tab,
  .table-airplane,
  .table-hotel,
  .overview-area,
  .recommend-area,
  .schedule-area,
  .information-area {
    margin: 30px 200px;
  }
  
  .table-top {
    width: 30vw;
  }
  
  .tour-price-area,
  .airplane-grade p {
    margin-left: 200px;
  }
}

@media (max-width: 500px) {
  .tab,
  .table-top,
  .table-airplane,
  .table-hotel,
  .table-schedule,
  .recommend-area,
  .schedule-area,
  .information h2 {
    font-size: 12px;
  }

  .tour-price-area {
    font-size: 16px;
  }
  
  .table-top {
    margin: 0 10px 0 0;
  }
  
  .overview-area {
    padding: 0 20px 0;
  }
  
  .overview-area-right .btn {
    font-size: 10px;
    height: 40px;
    margin-top: 15px;
  }
  
  .information .table {
    font-size: 10px;
  }
}

@media (max-width: 400px) {
  .tab,
  .tab-pane p,
  .table-airplane,
  .table-hotel,
  .table-schedule,
  .information .table {
    font-size: 9px;
  }

  .table-top,
  .table-cancel{
    font-size: 9px;
  }

  .tour-price-area {
    font-size: 12px;
  }
}