.navbar-brand img{
  width: 100px;
}

@media (max-width: 500px) {
  .navbar-brand img {
    width: 70px;
  }
  
  .nav-link,
  .nav-item,
  .dropdown-item {
    font-size: 13px;
  }
}

@media (max-width: 400px) {
  .navbar-brand img {
    width: 50px;
  }
}