<div class="container">
  <div class="thinks">
    <div class="thinks-area">
      <h1>検討リスト</h1>
      <div class="thinks-all background">
        <%= render 'tours/tourlists', tours: @considerations %>
      </div>
    </div>
  </div>
</div>

