<div class="container">
  <div class="information">
    <h2>【ご予約について】</h2>
    <p>
      ・未成年のご予約は承ることができません。<br>
      ・ツアーはリクエスト予約です。お客様のご希望の日程に、飛行機やホテルの確保ができるか確認させていただいた上で、正式にお申し込み手続きを開始いたします。<br>
      ・リクエスト予約の回答までにお時間を要する場合がございます。<br>
      ・リクエスト受付は、ご予約を確約するものではありませんので、予めご了承ください。<br>
      ・飛行機やホテルは、グレードの選択のみ承ります。<br><br>
      ・飛行機やホテルにご希望がある場合は、予約フォームの備考欄に記載していただければ確認させていただきます。ただし、追加料金がかかる場合や、ご希望に添えない場合もございますので、予めご了承ください。<br>
      ・旅行代金は目安です。時期によっては追加料金がかかる場合がございます。その場合は、リクエスト予約の回答時にご連絡いたします。<br><br>
    </p>
    <h2>【査証・旅券（パスポート）の有効期限について】</h2>
    <p>
      ・パスポートの残存期限の不足、および査証（ビザ）の不備などには十分ご注意ください。お客様が確認されない場合は、当社としては責任を負いかねますのでご了承ください。<br>
      ・通常パスポートは申請してから受領まで2週間前後かかります（時期によって異なります）。余裕を持ってご準備していただきますようお願いいたします。<br>
      ・査証の条件は目的地によって異なりますので、ご予約前にご確認ください。<br><br>
    </p>
    <h2>【変更・取消について】</h2>
    <p>
      ・正式なご予約が完了した後の変更は承れません。一度お取り消しの上、再度リクエスト予約をお願いいたします。ただし、再度ご予約を承れない場合もございますので、予めご了承ください。<br>
      ・リクエスト受付の時点では取消料の対象外となりますが、正式にお申込みいただいた後にお取り消しされる場合には、所定の取消料が必要となります。<br>
      ・天災などの理由で、ツアーにご参加いただけない場合も、取消料の対象となります。<br><br>
    </p>
    <h2>【取消料について】</h2>
    <p>
      旅行開始日から起算します。
    </p>
    
    <table class="table table-bordered table-cancel">
      <tbody>
        <tr>
          <th scope="row">〜31日前</th>
          <td>無料</td>
        </tr>
        <tr>
          <th scope="row">30日前〜3日前</th>
          <td>20%</td>
        </tr>
        <tr>
          <th scope="row">2日前〜1日前</th>
          <td>50%</td>
        </tr>
        <tr>
          <th scope="row">当日取消または<br>無連絡不参加</th>
          <td>100%</td>
        </tr>
      </tbody>
    </table>
    
    <h2>【その他】</h2>
    <p>
    以下の情報についてもご予約前にご確認ください。
    </p>
    <a href="https://www.anzen.mofa.go.jp/">外務省海外安全ホームページ</a><br>
    <a href="https://www.forth.go.jp/index.html">海外渡航者のための感染症情報</a><br>
    <a href="https://www.mlit.go.jp/koku/03_information/13_motikomiseigen/index.html">国際線の航空機内への液体物持込制限について</a><br>
    <a href="https://www.customs.go.jp/kaigairyoko/shinkokusho.htm">帰国時の税関申告書提出の義務化について</a>
  </div>
</div>