<div class="container">
  <div class="search-results">
    <p>検索結果</p>
    <%= render 'tours/tourlists', tours: @tours %>
  </div>
  
  <%= link_to '検索画面に戻る', root_path(anchor: 'search'), class: 'btn btn-light' %>
</div>