<div class="top-wrapper">
  <h1 class="tour-name">ツアーの商品名</h1>
  <img src="assets/eiffel-tower.jpg">

  <p>旅行代金</p><p>80,000円　〜　</p><p>150,000円</p>

  <table class="table table-bordered">
  <tbody>
    <tr>
      <th scope="row">出発地</th>
      <td>東京</td>
    </tr>
    <tr>
      <th scope="row">日数</th>
      <td>4泊7日</td>
    </tr>
  </tbody>
</table>
</div>