.top-wrapper img {
  width: 100vw;
  margin-bottom: 2vh;
}

.main-wrapper {
  text-align: center;
  height: 800px;
}

.heading {
  color: gray;
  font-size: 16px;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.origin-search-field {
  height: 100px;
  width: 90vw;
  margin: 0 5vw;
  background-color: #eeeeee;
}

.btn-warning {
  color: white;
  font-size: 12px;
  height: 50px;
  margin: 25px 5px;
  line-height: 40px;
}

.origin-search-field .btn {
  width: 20%;
}

.conditional-search-field {
  height: 200px;
  width: 90vw;
  margin: 0 5vw;
  padding: 25px;
  background-color: #eeeeee;
}

.input-select {
  display: flex;
  justify-content: space-around;
}

.conditional .form-group {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.conditional label {
  font-size: 12px;
}

select {
  font-size: 1vh;
  width: 20vw;
  height: 30px;
}

.search-btn .btn {
  width: 90%;
}

.contact-field {
  height: 160px;
  width: 90vw;
  margin: 0 5vw;
  padding: 25px;
  background-color: #eeeeee;
  display: flex;
  justify-content: space-around;
  font-size: 12px;
}

.company-name {
  font-size: 16px;
  margin-top: 30px;
}

.company-information {
  text-align: left;
}

@media (min-width: 1000px) {
  .origin-search-field,
  .conditional-search-field,
  .contact-field {
    width: 70vw;
    margin: 0 15vw;
  }
}

@media (max-width: 500px) {
  .heading {
    font-size: 13px;
  }
  
  .btn-warning,
  .contact-field {
    font-size: 10px;
  }

  .company-name {
    font-size: 12px;
  }
}

@media (max-width: 400px) {
  .origin-search-field {
    height: 190px
  }
  
  .btn-warning {
  height: 30px;
  margin: 10px 0 5px;
  line-height: 20px;
  }
  
  .origin-search-field .btn {
    width: 80%;
  }
  
  .conditional-search-field {
    height: 310px;
    padding: 30px;
  }
  
  .input-select {
    flex-direction: column;
  }
  
  select {
    width: 100%;
  }
  
  .search-btn .btn {
    width: 100%;
  }
  
  .contact-field {
    height: 200px;
    text-align: left;
    flex-direction: column;
  }
  
  .company-name {
    margin-top: 10px;
  }
  
  footer {
    margin-top: 200px;
  }
}