<div class="top-wrapper">
  <img src="assets/top.png" alt="トップ画像">
</div>

<div class="main-wrapper">
  <div class="origin-search">
    <h1 class="heading">出発地から探す</h1>
    <div class="origin-search-field">
      <a href="#" class="btn btn-warning">東京発</a>
      <a href="#" class="btn btn-warning">名古屋発</a>
      <a href="#" class="btn btn-warning">大阪発</a>
      <a href="#" class="btn btn-warning">福岡発</a>
    </div>
  </div>
  <div class="conditional-search">
    <h1 class="heading">条件から探す</h1>
    <div class="conditional-search-field">
      <div class="conditional">
        <div class="field-left">
          <p>出発地</p>
          <select>
            <option disabled selected value>出発地をお選びください</option>
            <option value="tokyo">東京</option>
            <option value="nagoya">名古屋</option>
            <option value="osaka">大阪</option>
            <option value="fukuoka">福岡</option>
          </select>
          <p>目的地</p>
          <select>
            <option disabled selected value>目的地をお選びください</option>
            <option value="asia">アジア</option>
            <option value="europe">ヨーロッパ</option>
            <option value="america">アメリカ・カナダ</option>
            <option value="latin">中南米</option>
            <option value="oceania">ハワイ・オセアニア</option>
            <option value="africa">中近東・アフリカ</option>
          </select>
        </div>
        <div class="field-right">
          <p>出発日</p>
          <input class="input-left" type="date" min="2020-10-01" max="2021-01-31">
          <p>旅行日数</p>
          <select>
            <option disabled selected value>指定なし</option>
            <option value="3">3日間</option>
            <option value="4">4日間</option>
            <option value="5">5日間</option>
            <option value="6">6日間</option>
            <option value="7">7日間</option>
          </select>
          〜
          <select>
            <option disabled selected value>指定なし</option>
            <option value="4">4日間</option>
            <option value="5">5日間</option>
            <option value="6">6日間</option>
            <option value="7">7日間</option>
            <option value="8">8日間</option>
          </select>
        </div>
      </div>
    <div class="search-btn">
      <button type="submit" class="btn btn-warning">この条件で検索</button>
    </div>
  </div>
</div>