<div class="top-wrapper">
  <img src="assets/top.png" alt="トップ画像">
</div>

<div class="main-wrapper">
  <div class="origin-search">
    <h1 class="heading">出発地から探す</h1>
    <div class="origin-search-field">
      <a href="/tours" class="btn btn-warning">東京発</a>
      <a href="/tours" class="btn btn-warning">名古屋発</a>
      <a href="/tours" class="btn btn-warning">大阪発</a>
      <a href="/tours" class="btn btn-warning">福岡発</a>
    </div>
  </div>

  <%= render 'tours/search' %>

</div>