<div class="container">
  <ul class="nav nav-tabs mt-5">
    <li class="nav-item"><a href="#tokyo" class="nav-link active" data-toggle="tab">東京発</a></li>
    <li class="nav-item"><a href="#nagoya" class="nav-link" data-toggle="tab">名古屋発</a></li>
    <li class="nav-item"><a href="#osaka" class="nav-link" data-toggle="tab">大阪発</a></li>
    <li class="nav-item"><a href="#fukuoka" class="nav-link" data-toggle="tab">福岡発</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tokyo">
      <div class="area">
        <p>中国・香港</p>
      </div>
      <div class="area">
        <p>台湾</p>
      </div>
      <div class="area">
        <p>韓国</p>
      </div>
      <div class="area">
        <p>タイ</p>
      </div>
      <div class="area">
        <p>ベトナム</p>
      </div>
      <div class="area">
        <p>シンガポール</p>
      </div>
      <div class="area">
        <p>マレーシア</p>
      </div>
      <div class="area">
        <p>フィリピン</p>
      </div>
    </div>

    <div class="tab-pane" id="nagoya">
      <div class="area">
        <p>中国・香港</p>
      </div>
      <div class="area">
        <p>台湾</p>
      </div>
      <div class="area">
        <p>韓国</p>
      </div>
      <div class="area">
        <p>タイ</p>
      </div>
      <div class="area">
        <p>ベトナム</p>
      </div>
      <div class="area">
        <p>シンガポール</p>
      </div>
      <div class="area">
        <p>マレーシア</p>
      </div>
      <div class="area">
        <p>フィリピン</p>
      </div>
    </div>

    <div class="tab-pane" id="osaka">
      <div class="area">
        <p>中国・香港</p>
      </div>
      <div class="area">
        <p>台湾</p>
      </div>
      <div class="area">
        <p>韓国</p>
      </div>
      <div class="area">
        <p>タイ</p>
      </div>
      <div class="area">
        <p>ベトナム</p>
      </div>
      <div class="area">
        <p>シンガポール</p>
      </div>
      <div class="area">
        <p>マレーシア</p>
      </div>
      <div class="area">
        <p>フィリピン</p>
      </div>
    </div>

    <div class="tab-pane" id="fukuoka">
      <div class="area">
        <p>中国・香港</p>
      </div>
      <div class="area">
        <p>台湾</p>
      </div>
      <div class="area">
        <p>韓国</p>
      </div>
      <div class="area">
        <p>タイ</p>
      </div>
      <div class="area">
        <p>ベトナム</p>
      </div>
      <div class="area">
        <p>シンガポール</p>
      </div>
      <div class="area">
        <p>マレーシア</p>
      </div>
      <div class="area">
        <p>フィリピン</p>
      </div>
    </div>
  </div>
</div>