.tour-name {
  margin: 20px;
  font-size: 30px;
}

.tour-price-area {
  display: flex;
  margin: 20px;
  font-size: 20px;
}

.tour-price {
  margin-right: 20px;
}

.price-range {
  color: red;
  font-weight: bold;
}

.table-top {
  width: 50vw;
  margin: 20px;
  font-size: 17px;
}

th {
  text-align: center;
}

.table-airplane,
.table-hotel,
.table-schedule {
  width: 90vw;
  font-size: 15px;
}

.table-airplane th,
.table-hotel th,
.table-schedule th {
  background-color: #eeeeee;
}

.detail {
  margin: 30px;
}

.days {
  text-align: center;
}

.airplane-grade p {
  font-size: 15px;;
  font-weight: bold;
  margin-bottom: 30px;
}

@media (max-width: 500px) {
  .tab,
  .table-airplane,
  .table-hotel,
  .table-schedule {
    font-size: 12px;
  }

  .rable-top {
    font-size: 15px;
  }

  .tour-price-area {
    font-size: 17px;
  }
}

@media (max-width: 400px) {
  .tab,
  .tab-pane p,
  .table-airplane,
  .table-hotel,
  .table-schedule {
    font-size: 9px;
  }

  .table-top {
    font-size: 10px;
  }

  .tour-price-area {
    font-size: 12px;
  }
}