.account {
  margin-left: 50px;
  height: 800px;
}

.account h2 {
  margin: 5vh 0 3vh 0;
}

.account .form-group {
  width: 50vw;
}

.account .btn {
  margin: 20px 0 0;
  width: 50vw;
}

.link {
  margin: 30px 0 200px;
}

@media (min-width: 1030px) {
  .account {
    margin-left: 300px;
  }
}